
body {
    background-color: lightgoldenrodyellow;
    font-family: 'Courier New', Courier, monospace;
}

#submission-form {
    border: solid 5px black;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    margin: 25px;
}

label {
    text-align: center;
    font-weight: bold;
}

input {
    margin: 5px;
}

h1, h2 {
    text-align: center;
}

h1 {
    text-decoration: underline;
}

#submit {
    align-self: center;
    color: white;
    font-weight: bold;
    background-color: black;
}

form {
    display: flex;
    flex-direction: column;
    border: solid 1px black; 
    padding: 20px;
    width: 100%;
    align-items: space-around;
}



.memes {
    background-image: url("https://www.gannett-cdn.com/-mm-/3ba7e4f3567938bfa03b2db99f52682c4169c90e/c=31-0-799-1024/local/-/media/2018/04/11/Bergen/NorthJersey/636590591130423863-thegreatruthh.jpg?width=300&height=400&fit=crop&format=pjpg&auto=webp");
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 25px; 
}



p.top-text {
    font-size: 25px;
    font-weight: bold;
    color: magenta;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;



}

p.bottom-text {
    font-size: 25px;
    font-weight: bold; 
    color: blue;
}

.meme-collection {
    border: solid 5px black;
    display: flex;
    justify-content: center;
    background-color: lightcyan;
    margin: 25px;
    flex-wrap: wrap;
}
