
body {
    background-color: seashell;
    font-family: 'Courier New', Courier, monospace;
}

#submission-form {
    border: solid 5px black;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    margin: 25px;
}

label {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

input {
    margin: 5px;
}

h1, h2 {
    text-align: center;
}

h1 {
    border: solid 5px black; 
    margin: 25px; 
    color: white; 
    background-color: purple;

}

#submit {
    align-self: center;
    color: white;
    font-weight: bold;
    background-color: black;
}

form {
    display: flex;
    flex-direction: column;
    border: solid 1px black; 
    padding: 50px;
    width: 100%;
    align-items: space-around;
}



.memes {
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 25px; 
    background-size: 100%;
    position: relative;
}

button {
    position: absolute;
    bottom: -20px;
}


p.top-text {
    font-size: 35px;
    font-weight: bold;
    color: magenta;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
   



}

p.bottom-text {
    font-size: 35px;
    font-weight: bold; 
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.meme-collection {
    border: solid 5px black;
    display: flex;
    justify-content: center;
    background-color: lightcyan;
    margin: 25px;
    flex-wrap: wrap;
}

.input-fields {
    background-color: black;
    color: white;
    height: 30px;
    font-size: 20px;
}
